/* By Natalie Young, 2022
I heavily relied on the code and example of github user adp6729, lab link: https://adp6729.github.io/leaflet-lab/# (thank you!)
I have made limited adjustments to this file*/

/*Example maps from leaflet.org*/
#mapid { height: 500px }
#geoJSONmap { height: 500px }

/* Map */
#map { 
    height: 500px;
    width: 78%;
    display: inline-block;
    z-index: 1;
}

/* Info Panel */
#panel {
    width: 18%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

/* Simple Map Description/Instructions Panel */
#panel3 {
    width: 18%;
    padding: 10px;
    position:absolute;
    top:250px;right:10px;
    vertical-align: top;
    text-align: left;
}

/* Temporal Slider Panel */
#panel2 {
    width: 75%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    margin: auto;
}

/* Temporal Slider formatting */
.range-slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 200px;
    height: 28px;
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 50px; /* Set a specific slider handle width */
    height: 50px;
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 50px; /* Set a specific slider handle width */
    height: 50px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* Button format */
#panel2 img{
    height: 30px;
    width: auto;
    outline: none;
}

#forward {
    display: inline-block;
}

#reverse {
    display: inline-block;
}

/* Filter menu format */
.menu-ui {
    background:#fff;
    position:absolute;
    top:12%;right:23%;
    z-index: 1;
    border-radius:3px;
    width:120px;
    border:1px solid rgba(0,0,0,0.4);
}

.menu-ui a {
    font-size:13px;
    color:#404040;
    display:block;
    margin:0;padding:0;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
}

.menu-ui a:first-child {
    border-radius:3px 3px 0 0;
}

.menu-ui a:last-child {
    border:none;
    border-radius:0 0 3px 3px;
}

.menu-ui a:hover {
    background:#f8f8f8;
    color:#404040;
}

.menu-ui a.active,
.menu-ui a.active:hover {
    background:#3887BE;
    color:#FFF;
}

/* Legend formatting */
#legend {
    background:#fff;
    position:absolute;
    top:350px;left:40px;
    z-index: 1;
    border-radius:3px;
    width:210px;
    border:1px solid rgba(0,0,0,0.4);
}

#legendTitle {
    font-weight: bold;
    font-size: 18px;
}
